<!-- <section>

  <div class="example-button-row">
    <button mat-stroked-button (click)="colorRemove()" [disabled]="disableP">Previous</button>
    <button mat-stroked-button color="primary" (click)="colorChanges()" [disabled]="disable">Next</button>

  </div>

  <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
    <mat-icon [ngStyle]="{'color': this.count == 1 ? 'red' : '#000' }">home</mat-icon>
  </button>
  <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
    <mat-icon [ngStyle]="{'color': this.count == 2 ? 'red' : '#000' }">home</mat-icon>
  </button>
  <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
    <mat-icon [ngStyle]="{'color': this.count == 3 ? 'red' : '#000' }">home</mat-icon>
  </button>
  <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
    <mat-icon [ngStyle]="{'color': this.count == 4 ? 'red' : '#000' }">home</mat-icon>
  </button>
  <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
    <mat-icon [ngStyle]="{'color': this.count == 5 ? 'red' : '#000' }">home</mat-icon>
  </button>
</section> -->

<div class="app-wrapper">
  <div class="app-header">
    <h2>👍 Friend 👍 </h2>
    <span class="friend-status">Online</span>
  </div>
  <div *ngIf="messageList !== ['']" style="    height: 100%;overflow: hidden;
  padding-bottom: 30px;">
    <div class="app-message-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div class="message-wrapper">
        <div class="message" *ngFor="let message of messageList">
          <span> {{message.message}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="app-input-area">
    <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" type="text"
      placeholder="Your message here..." />
    <button type="submit" (click)="sendMessage()">
      <svg viewBox="0 0 512 512" x="0px" y="0px" style="enable-background: new 0 0 512 512" width="25" height="25"
        title="paper-plane">
        <path fill=""
          d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z" />
      </svg>
    </button>
  </div>
</div>